<p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      <div id="error_explanation">
      <% if @user.errors.any? %>
       <% if @user.errors.count > 1 %>
         <p class="h3"><%= @user.errors.count %>errors prohibited this book from being saved:</p>
      <% else %>
         <p class="h3"><%= @user.errors.count %>error prohibited this book from being saved:</p>
      <% end %>

        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      </div>


      <%= form_with model: @user do |f| %>
      <div>
        <label for="inputName">Name</label><br/>
        <%= f.text_field :name, autofocus: true, id:"inputName", class: "form-control" %><br/>

        <label for="inputImage">Image</label><br/>
        <%= f.file_field :profile_image,　accept: "image/*" %><br/>

         <label class="mt-3">Introduction</label><br/>
        <%= f.text_field :introduction, autofocus: true, class: "form-control" %><br/>

        <%= f.submit "Update User", class: "btn btn-secondary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>