<p id="notice"></p>
<div>
<% if @book.errors.any? %>
  <% if @book.errors.count > 1 %>
   <p class="h3"><%= @book.errors.count %>errors prohibited this book from being saved:</p>
  <% else %>
   <p class="h3"><%= @book.errors.count %>error prohibited this book from being saved:</p>
  <% end %>

  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
</div>

<div class='container px-5 px-sm-0'>
	<div class='row'>
  <!--投稿一覧-->
    <%= render 'list', user: @user, book: @book %>

     <div class='col-md-8 offset-md-1'>
      <h2>Books</h2>
       <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td>
              <%= link_to user_path(book.user) do %>
                <%= image_tag book.user.get_profile_image(100, 100) %>
              <% end %>
              </td>
              <td><%= link_to book.title, book_path(book.id) %></td>
              <td><%= book.body %></td>
              <!--いいね機能eachメソッド内なのでbook: book-->
              <td id="favorite_buttons_<%= book.id %>">
                <%= render 'favorites/favorite-btn', book: book %>
              </td>
　　　　　　　　　<td width="150">
                    <%= render "book_comments/counter", book: book %>
                  </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>